<div class="content">
  <h1>試合に出よう!</h1>
  <mat-divider></mat-divider>
  <div class="description">
    <p>家族や友達とのラウンドも楽しいけど,
      一方で試合に出てみたいとの思いも,
      そろそろ出てきたかな?
      それなら日本国内でも各地で多数の試合が開催されているので,
      紹介するね.
    </p>
    <p>中でも月例会とかマンスリーとか呼ばれる試合は,
      週末の1日を利用して開催される,
      初心者から上級者までが参加する試合なんだ.
      上級者のプレーを間近にみたりアドバイスをもらったりと,
      お得感満載な試合だよ.
    </p>
    <p>そして月例会で腕を上げたら公式戦に出てみよう!</p>
    <p>公式戦とは
      <a target="_blank" rel="noopener" href="http://www.jpdga.jp">
        日本ディスクゴルフ協会
      </a>(通称JPDGA)が公認する大会で,
      国内では最上位に位置づけられる大会なんだ.
      週末の二日間を利用して,
      計4ラウンド/72ホールで優勝を争う形式が多いね.
    </p>
    <p>なお県ディスクゴルフ協会としては年に1回, 毎年5月ごろ,
      県民スポーツ•レクレーション祭の一大会として,
      <a target="_blank" rel="noopener" href="https://www.kodomo.or.jp">
        富士山こどもの国
      </a>
      にて競技会を開催するよ!
      当サイトや
      <a target="_blank" rel="noopener" href="https://www.facebook.com/静岡県ディスクゴルフ協会-106178680734223/">
        県協会のFacebookページ
      </a>
      でお知らせするね.
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="container">

    <mat-card>
      <mat-card-header>
        <mat-card-title>DG Japan</mat-card-title>
        <mat-card-subtitle>国内試合の総合情報サイト</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/dgjapan.png" alt="DG Japan Disc Golf">
      <mat-card-content>
        <p>
          公式戦, 地方戦, 月例会の予定や結果など, 国内の試合情報を確認しよう!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button target="_blank" rel="noopener" href="https://jpdga-shizuoka.github.io/ssa-round-ratings">Go DG Japan</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>県民スポーツ•レクレーション祭</mat-card-title>
        <mat-card-subtitle>ディスクゴルフ大会</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/sport-rec.jpg" alt="県民スポーツ•レクレーション祭ディスクゴルフ大会">
      <mat-card-content>
        <p>
          毎年5月ごろ, 県ディスクゴルフ協会主催によるディスクゴルフ大会を開催します.
          ふるってご参加ください.
          詳細は別途ご案内します.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
