mat-divider {
  margin-top: 0;
  padding-bottom: 10px;
}
mat-card {
  width: 340px;
  margin: 12px 8px;
  transition: all 0.2s ease-in-out;
}
mat-card:hover {
  transform: translateY(-3px);
}
mat-card img {
  height: 180px;
  object-fit: cover;
}
.img-icon img {
  display: block;
  margin: auto;
  width: 40%;
  object-fit: contain;
}
.mat-card-content p {
  line-height: 175%;
}
.oss-table {
  font-size: small;
}
.oss-table td:first-child {
  text-align: right;
}

@media screen and (max-width: 414px) {
  mat-card {
    width: 90%;
    margin: 4px;
  }
}
