<div class="content">
  <h1>当ウェブサイトについて</h1>
  <mat-divider></mat-divider>
  <div class="description">
    <p>
      当ウェブサイトは,
      静岡県ディスクゴルフ協会(以下"県協会")が,
      県協会の活動を広報するために公開•運用するウェブサイトです.
      当ウェブサイトおよび県協会の個人情報の取扱いは,
      <a routerLink="/privacy">プライバシー•ポリシー</a>
      に従います.
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>県協会活動の目的</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/kodomonokuni.jpg">
      <mat-card-content>
        <p>
          静岡県ディスクゴルフ協会は, 以下を目的として活動します;
        </p>
        <ul>
          <li>ディスクゴルフの啓蒙</li>
          <li>ディスクゴルフ愛好家への奉仕</li>
          <li>ディスクゴルフ競技の普及と開催</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>運用方式</mat-card-title>
      </mat-card-header>
      <div class="img-icon">
        <img mat-card-image src="assets/img/github.svg">
      </div>
      <mat-card-content>
        <p>
          当ウェブサイトは,
          持続可能な運用を目標とし,
          <a target="_blank" rel="noopener" href="https://github.com/about">GitHub社</a>
          が提供するホスティング•サービス
          <a target="_blank" rel="noopener" href="https://pages.github.com">GitHub Pages</a>
          を利用しています.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>公開プロジェクト</mat-card-title>
      </mat-card-header>
      <div class="img-icon">
        <img mat-card-image src="assets/img/github.svg">
      </div>
      <mat-card-content>
        <p>
          当ウェブサイトは,
          持続可能な運用を目標とし, またその目標を担保するため,
          当ウェブサイトに関わる全ての資源をオープンソース•プロジェクトとして,
          <a target="_blank" rel="noopener" href="https://github.com/jpdga-shizuoka/ssa-round-ratings">Github社が運用するリポジトリ</a>
          に公開しました.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>ソフトウェア•プラットフォーム</mat-card-title>
      </mat-card-header>
      <div class="img-icon">
        <img mat-card-image src="assets/img/angular.svg">
      </div>
      <mat-card-content>
        <p>
          当ウェブサイトは, 主に以下のオープンソース•ソフトウェアを利用して構築されました:
        </p>
        <table class="oss-table">
          <tbody>
            <tr>
              <td>Web Application Platform:</td>
              <td><a target="_blank" rel="noopener" href="https://angular.io">Angular</a></td>
            </tr>
            <tr>
              <td>YouTubeプレーヤ:</td>
              <td><a target="_blank" rel="noopener" href="https://github.com/angular/components/tree/master/src/youtube-player">Angular YouTube Player</a></td>
            </tr>
            <tr>
              <td>Facebookページ:</td>
              <td><a target="_blank" rel="noopener" href="https://developers.facebook.com/docs/plugins/page-plugin?locale=ja_JP">ページプラグイン</a></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
