<div class="content">
  <h1>県民スポーツ•レクリエーション祭ディスクゴルフ大会</h1>
  <mat-divider></mat-divider>
  <div class="description">
    <h2>新型コロナウィルスに関して</h2>
      <p>
        本大会は,
        富士山こどもの国が定める新型コロナウイルス感染防止対策に準じた対策を行います.
        また本大会は, 感染状況の次第によっては大会を取りやめることもあります.
        以下富士山こどもの国による注意事項の抜粋です.
      </p>
      <ul>
        <li>入園受付の際, お客様の検温と手指消毒を実施しております. また、園内滞在中は、必ずマスクを着用してください.</li>
        <li>体温が37.5℃を超えるお客様は, 入園をお断りする場合があります.</li>
        <li>各施設やトイレ内に消毒液を用意しておりますので, ご利用ください.</li>
        <li>発熱, 倦怠感, 咳などの症状のある方は, ご入園をお控えください.</li>
        <li>施設を利用する際, 待合列やお客様同士の間隔をできるだけ2ｍ開けてください.</li>
        <li>園内滞在中に体調が悪化したり, 気分が優れない場合は、お近くスタッフまでお申し出ください.</li>
      </ul>
    <h2>ご案内</h2>
    <p>
      来たる8月23日に, 富士山こどもの国にてディスクゴルフ大会を開催します.
    </p><p>
      一つは<span>県民スポーツ•レクリエーション祭ディスクゴルフ大会</span>,
      もう一つは<span>親子ディスクゴルフ大会</span>です.
      三世代にわたって楽しめる大会です.
      奮ってご参加ください.
    </p><p>
      なお,
      <span>県民スポーツ•レクレーション祭ディスクゴルフ大会</span>は,
      2021年に岐阜県で開催される<span>ねんりんピック2021</span>の県代表予選会も兼ねており,
      来年度60歳以上(昭和37年4月1日生まれ以前)となる方は,
      同予選会にも自動エントリーになります.
    </p><p>
      また
      県協会インストラクターによる投げ方講習もありますので,
      初めての方でも大歓迎です.
    </p>
    <img mat-card-image src="assets/img/sporec.jpg" alt="県民スポーツ•レクリエーション祭">
    <div class="container">
      <a class="my-next-button" routerLink="/whatsdiscgolf">
        <span>ディスクゴルフってなに?</span>
      </a>
    </div>
    <table>
      <tbody>
        <tr>
          <td>主催</td>
          <td>静岡県, 静岡県レクリエーション協会</td>
        </tr>
        <tr>
          <td>主管</td>
          <td>県民スポーツ•レクリエーション祭実行委員会, 静岡県ディスクゴルフ協会, 富士山こどもの国</td>
        </tr>
        <tr>
          <td>後援</td>
          <td>静岡県体育指導員連絡協議会, (財)静岡県体育協会</td>
        </tr>
        <tr>
          <td>実施期日</td>
          <td>
            <ul>
              <li>2020年8月23日(日) 午前9時30分～午後3時まで随時受付</li>
              <li>親子大会参加者は、午後1時にディスクゴルフ街コース1番ホールに集合してください.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>会場</td>
          <td>
            <a target="_blank" rel="noopener" href="https://www.kodomo.or.jp">
              富士山こどもの国
            </a>
          </td>
        </tr>
        <tr>
          <td>競技内容</td>
          <td>ディスクゴルフ街コースの9ホールをラウンドし合計スコアを競います.</td>
        </tr>
        <tr>
          <td>競技規則</td>
          <td>
            <a mat-list-item target="_blank" rel="noopener" href="http://jpdga-shizuoka.github.io/rules">
              ディスクゴルフ競技規則
            </a>に準じますが,
            安全なプレーを心がけてくれればそれが一番.
          </td>
        </tr>
        <tr>
          <td>参加資格</td>
          <td>
            <p>静岡県内に在住する小学生以上の方ならどなたでも参加できます.</p>
            <p>別途未就学児向けにディスクターゲットを用意しています.</p>
          </td>
        </tr>
        <tr>
          <td>参加料</td>
          <td>無料 (別途, 入園料が必要です)</td>
        </tr>
        <tr>
          <td>参加受付</td>
          <td>
            当日,
            ディスクゴルフ街コース1番ホールにて随時受付ます.
          </td>
        </tr>
        <tr>
          <td>表彰</td>
          <td>
            <ul>
              <li>各大会ごとに部門表彰します.</li>
              <li>12歳以上の部 男子上位3名, 女子上位3名</li>
              <li>12歳未満の部 男子上位3名, 女子上位3名</li>
            </ul>
  　　　　　</td>
        </tr>
        <tr>
          <td>その他</td>
          <td>当日試合で使用するディスクは当日会場にて貸し出し致します.</td>
        </tr>
        <tr>
          <td>お問合せ</td>
          <td>
            電子メール(dgolfer1@tokai.or.jp)宛までお願いします.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
