mat-divider {
  margin-top: 0;
  padding-bottom: 10px;
}
.container mat-tab-group,
.container table {
  margin: auto;
  width: 100%;
  max-width: 550px;
}
.container table th,
.container table td {
  font-size: 15px;
}
.mat-table {
  background-color: transparent;
}

@media screen and (max-width: 414px) {
  .container table {
    margin: 0;
    width: 100%;
  }
  .container table th,
  .container table td {
    font-size: 15px;
  }
  .container table th:first-child,
  .container table td:first-child {
    padding-left: 12px;
  }
  .container table th:last-child,
  .container table td:last-child {
    padding-right: 12px;
  }
}
@media screen and (max-width: 375px) {
  .container table th,
  .container table td {
    font-size: 13px;
  }
  .container table tr {
    height: 39px;
  }
  .container table th:first-child,
  .container table td:first-child {
    padding-left: 10px;
  }
  .container table th:last-child,
  .container table td:last-child {
    padding-right: 10px;
  }
}
@media screen and (max-width: 320px) {
  .container table th,
  .container table td {
    font-size: 12px;
  }
  .container table tr {
    height: 36px;
  }
  .container table th:first-child,
  .container table td:first-child {
    padding-left: 8px;
  }
  .container table th:last-child,
  .container table td:last-child {
    padding-right: 8px;
  }
}
