<div class="content" id="location">
  <h1>コース案内</h1>
  <mat-divider></mat-divider>
  <div class="description">
    <p>
      いつでもディスクゴルフを楽しむことができる常設ディスクゴルフ•コースが設置されている施設を,
      近県の情報も合わせて紹介するね.
    </p>
    <p>
      なお施設の利用状況など事前確認をお願いするとともに,
      施設の案内に従って安全にプレーしてね.
    </p>
    <p>
      また全国のコース情報は,
      <a href="https://discgolf-navi.com/category/course/" target="_blank" rel="noopener">
        ディスクゴルフナビのコース紹介
      </a>が参考になるよ.
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="container">

    <mat-tab-group>
      <mat-tab label="コースのある施設">
        <table mat-table [dataSource]="locationSource" class="mat-elevation-z2">

          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let element">
              <a href="{{element.website}}" target="_blank" rel="noopener">
                {{element.name}}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <td mat-cell *matCellDef="let element">
              <a href="{{element.geoUrl}}" target="_blank" rel="noopener">
                {{element.prefecture}}{{element.city}}
              </a>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>

      <mat-tab label="近県の情報">
        <table mat-table [dataSource]="dgaSource" class="mat-elevation-z2">

          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let element">
              <a href="{{element.website}}" target="_blank" rel="noopener">
                {{element.name}}
              </a>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
