mat-divider {
  margin-top: 0;
  padding-bottom: 10px;
}
mat-card {
  width: 370px;
  margin: 12px 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
mat-card:hover {
  transform: translateY(-3px);
}
mat-card img {
  height: 210px;
  object-fit: contain;
}
mat-card-image {
  width: 160px;
  height: 90px;
}

@media screen and (max-width: 414px) {
  mat-card {
    width: 90%;
    margin: 4px;
  }
}
