<div class="content">
  <h1>ディスクゴルフ講習会</h1>
  <mat-divider></mat-divider>
  <div class="description">
    <p>
      およそ月に1回程度, ディスクゴルフの講習会を富士山こどもの国にて開催しています.
      詳細は, 当サイトや
      <a target="_blank" rel="noopener" href="https://www.facebook.com/静岡県ディスクゴルフ協会-106178680734223/">
        県協会のFacebookページ
      </a>そして
      <a target="_blank" rel="noopener" href="https://www.kodomo.or.jp">
        富士山こどもの国
      </a>でお知らせしています.
      ふるってご参加してください。
    </p>
    <p>
      なお富士山子供の国では,
      フライングディスクをいつでも無料で貸してくれるので,
      気軽にディスクゴルフを楽しむことができます.
      ご利用ください.
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="container">

    <mat-card>
      <mat-card-header>
        <mat-card-title>ディスクゴルフ講習会</mat-card-title>
        <mat-card-subtitle>富士山こどもの国にて</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/koshukai.jpg" alt="ディスクゴルフ講習会@富士山こどもの国">
      <mat-card-content>
        <p>
          県ディスクゴルフ協会は, ディスクゴルフの講習会を開催しています.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
