<div class="content" id="privacy">
  <h1>プライバシー•ポリシー</h1>
  <mat-divider></mat-divider>
  <div class="container">

    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            はじめに
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          静岡県ディスクゴルフ協会 (以下, "当協会") は,
          氏名, 住所, 電話番号といった個人を識別しうる情報 (以下 "個人情報") を適切に保護することが,
          当協会活動の基本であるとともに,
          社会的責務であると考えております.
        </p>
        <p>
        ここでは当協会の個人情報に関する取り扱いについての基本方針をご紹介いたします.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            個人情報とは
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          当協会が,
          当ウェブサイトや
          <a target="_blank" rel="noopener" href="https://www.facebook.com/静岡県ディスクゴルフ協会-106178680734223/">
            当協会が運用するFacebookページ
          </a>(以下 "Facebookページ") を通じて,
          または大会開催の募集に際して,
          提供を受ける住所, 氏名, 電話番号, メールアドレスなど,
          人を識別できる情報または固有の情報をいいます.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            個人情報の収集
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          当協会は,
          お問合せ, 大会参加募集やFacebookページを通じて, 個人情報を収集することがあります.
          当協会による個人情報の収集は, あくまで自発的な提供によるものであり,
          個人情報を提供された場合は,
          当協会が本プライバシー•ポリシーに則って,
          当該個人情報を利用することを許諾したものとします.
          ご同意いただけない場合には, いかなる個人情報も提供されないようお願いいたします.
        </p>
        <p>
          なお当協会は,
          法的手段によることなく個人情報を第三者に開示することはございません.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            個人情報の利用目的について
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          ご提供いただいた個人情報は, 当協会が以下の目的で利用するものとします.
        </p>
        <ul>
          <li>当協会が主催する講習会や大会のお知らせ, および連絡</li>
          <li>当協会が主催する講習会や大会結果の発表</li>
          <li>当協会が主催する講習会や大会の記念品の発送</li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            リンクについて
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          当ウェブサイトは,
          いくつかの外部サイトへのリンクを含みますが,
          プライバシー情報を共有するものではありません.
          リンク先ウェブサイトにて行われる個人情報の収集に関しては,
          当協会では一切責任を負えませんので,
          リンク先ウェブサイトの個人情報取扱内容を必ずご参照ください.
        </p>
      </mat-expansion-panel>

        <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            アクセスログ•履歴情報について
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          当ウェブサイトは,
          当ウェブサイトとしてアクセスログ等のアクセス情報を保存するための (データベース等の) 記憶装置を有せず,
          よってアクセスログ•履歴情報は一切保有しません.
        <p>
          なお当ウェブサイトの運用は,
          <a target="_blank" rel="noopener" href="https://github.com/about">GitHub社</a>
          が提供するウェブ•ホスティング•サービスである
          <a target="_blank" rel="noopener" href="https://help.github.com/ja/github/working-with-github-pages/about-github-pages">GitHub Pages</a>
          を利用していますが,
          GitHub Pagesに関するプライバシー•ポリシーは,
          <a target="_blank" rel="noopener" href="https://help.github.com/ja/github/site-policy/github-privacy-statement#github-pages">
            Github Pagesプライバシー•ポリシー
          </a> をご参照ください.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Googleサービスの利用について
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          当協会は,
          大会参加オンライン申し込み等のため,
          Google社が提供する
          <a target="_blank" rel="noopener" href="https://www.google.com/intl/ja_jp/forms/about/">Googleフォーム</a>
          および
          <a target="_blank" rel="noopener" href="https://www.google.com/intl/ja_jp/sheets/about/">Googleスプレッドシート</a>
          サービスを利用することがあります.
          提供いただいた申し込み等情報は,
          当協会が所有するGoogleアカウントの元,
          非公開とし適切にかつ厳重に管理いたします.
        </p>
        <p>
          なおGoogleサービスに関するプライバシーポリシーは,
          <a target="_blank" rel="noopener" href="https://policies.google.com/privacy?hl=ja">Googleプライバシーポリシー</a>
          をご参照ください.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            アクセス解析サービスについて
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          当ウエブサイトは,
          当ウェブサイトへのアクセス情報を得るため,
          アクセス解析サービスを利用しません.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            保証および責任制限
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          静岡県ディスクゴルフ協会公式ウェブサイトは,
          ご利用者の責任において行われるものとします.
          当ウェブサイトおよび当ウェブサイトにリンクが設定されている他のウェブサイトから取得された各種情報の利用によって生じたあらゆる損害に関して,
          当協会は一切の責任を負いません.
        </p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
