<div id="headline-photo">
  <img src="assets/img/kawa-yama.jpg" alt="富士市から眺める富士山">
</div>

<div class="content" role="main" id="dashboard">

  <p>静岡県ディスクゴルフ協会はディスクゴルフ大好き人間を応援します</p>

  <div class="card-container">
    <a class="card" routerLink="whatsdiscgolf">
      <mat-icon>help</mat-icon>
      <span>ディスクゴルフってなに?</span>
    </a>

    <a class="card" routerLink="letsplaydiscgolf">
      <mat-icon>sentiment_satisfied_alt</mat-icon>
      <span>ディスクゴルフ入門</span>
    </a>

    <a class="card" routerLink="thisisdiscgolf">
      <mat-icon>golf_course</mat-icon>
      <span>これがディスクゴルフだ!</span>
    </a>

    <a class="card" routerLink="majors">
      <mat-icon>whatshot</mat-icon>
      <span>これがプロの世界だ!</span>
    </a>

    <a class="card" routerLink="gogames">
      <mat-icon>directions_run</mat-icon>
      <span>試合に出よう!</span>
    </a>

  </div>
</div>
