.sidenav-container {
  height: 100%;
  z-index: 2;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 3;
}

.mat-nav-list a {
  font-size: 0.75rem;
}
.mat-nav-list mat-icon {
  margin-right: 5px
}
.menu-active {
  background-color: #efe5fd;
}
img.logo {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  padding: 2px;
}
img#background {
  position: fixed;
  bottom: 0px;
  left: 200px;
  z-index: -10;
  width: calc(100% - 200px);
  opacity: 0.2;
}
a mat-icon {
  color: #311b92;
}
@media screen and (max-width: 767px) {
  img#background {
    left: 0px;
    width: 100%;
  }
}
