<div class="fb-page"
  data-href="https://www.facebook.com/&#x9759;&#x5ca1;&#x770c;&#x30c7;&#x30a3;&#x30b9;&#x30af;&#x30b4;&#x30eb;&#x30d5;&#x5354;&#x4f1a;-106178680734223/"
  data-tabs="timeline"
  data-width=""
  data-height=""
  data-small-header="true"
  data-adapt-container-width="true"
  data-hide-cover="true"
  data-show-facepile="false">
  <blockquote class="fb-xfbml-parse-ignore"
    cite="https://www.facebook.com/&#x9759;&#x5ca1;&#x770c;&#x30c7;&#x30a3;&#x30b9;&#x30af;&#x30b4;&#x30eb;&#x30d5;&#x5354;&#x4f1a;-106178680734223/">
    <a href="https://www.facebook.com/&#x9759;&#x5ca1;&#x770c;&#x30c7;&#x30a3;&#x30b9;&#x30af;&#x30b4;&#x30eb;&#x30d5;&#x5354;&#x4f1a;-106178680734223/"
      target="_blank" rel="noopener">
      静岡県ディスクゴルフ協会Facebookページへ
    </a>
  </blockquote>
</div>
