<div class="content" id="videos">
  <h1>{{title}}</h1>
  <mat-divider></mat-divider>
  <div class="description" [innerHtml]="description">
  </div>
  <mat-divider></mat-divider>
  <div class="container">
    <ng-template ngFor let-video [ngForOf]="videos | async">
      <div class="video-card" (click)="onClick(video)">
        <div class="video-thumbnail">
          <img src="{{getThumbnailUrl(video)}}" alt="video.title"/>
          <div class="video-play-mark">
            <img src="assets/img/play-circle-24.png" alt=""/>
          </div>
        </div>
        <div class="video-header">
          <div class="video-title">
            {{video.title}}
          </div>
          <div class="video-subtitle">
            {{video.subtitle}}
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
