.content a::after {
  content: "⮕";
  padding-right: 3px;
}
.content a[target="_blank"]:not(.circle-link):not(.card)::after {
  content: "🔗";
}

.card {
  display: inline-flex;
  width: calc(100% - 7px);
  /* width: 100%; */
  margin: 4px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-3px);
}

.card-image {
  /* --width: calc(calc(100% - 12px) / 2.3 );
  width: var(--width);
  height: calc(calc(var(--width) * 9) / 16); */

  width: 150px;
  height: 84px;

  object-fit: cover;
  border-radius: 6px 0 0 6px;
}

.card-header {
  margin: 4px 0 4px 4px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 4px 0;
}

.card-subtitle {
  font-size: 0.9rem;
}

.description {
  margin: auto;
  width: 90%;
  font-size: 1rem;
  line-height: 175%;
}

.description p {
  /* padding: 0 12px; */
}
.mat-h1, .mat-typography h1 {
  margin-bottom: 6px;
}
mat-divider {
  margin-top: 0;
  padding-bottom: 10px;
}

@media screen and (min-width: 767px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .description {
    width: 550px;
  }
  .content .description {
    margin: 0 auto;
  }
  .card {
    width: 370px;
    margin: 12px 8px;
  }
  .card-image {
    width: 160px;
    height: 90px;
  }
}
