<div class="content">
  <h1>{{title}}</h1>
  <div class="description" [innerHtml]="description">
  </div>
  <ng-template ngFor let-video [ngForOf]="videos | async">
    <div class="card" (click)="onClick(video)">
      <img class="card-image" src="{{getThumbnailUrl(video)}}" alt="video.title"/>
      <div class="card-header">
        <div class="card-title">
          {{video.title}}
        </div>
        <div class="card-subtitle">
          {{video.subtitle}}
        </div>
      </div>
    </div>
  </ng-template>
</div>
