.contaner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: inline-flex;
  margin: 4px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-3px);
}

.card-image {
  --width: calc(calc(100% - 12px) / 2.3 );
  width: var(--width);
  height: calc(calc(var(--width) * 9) / 16);
  object-fit: cover;
  border-radius: 6px 0 0 6px;
}

.card-header {
  margin: 4px 0 4px 4px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 4px 0;
}

.card-subtitle {
  font-size: 0.9rem;
}

.description {
  font-size: 1rem;
  line-height: 150%;
}

.description p {
  padding: 0 6px;
}

@media screen and (min-width: 768px) {
  .description {
    width: 400px;
  }
  .content .description {
    margin: 0 auto;
  }
  .card {
    width: 360px;
    margin-bottom: 16px;
  }
}
